{
  "maintenace": true,
  "lang": "en",
  "site_name": "KIS ",
  "url": "http://server/KIS",
  "modules": "modules/modules/",
  "color": "blue",
  "_comment": "#288feb",
  "user": [{
    "id_lenght": 100
  }],
  "database": [{
    "host": "xxx",
    "user": "xx",
    "password": "xxx",
    "database": "xxx"
  }],
  "footer": [{
    "Fee-Hosting.com": "https://intranetproject.net",
    "Support Email": "mailto:support@intranetproject.net"
  }],
  "contactdata": {
    "address_1": "TestWeg 1",
    "address_2": "Hamburg, 2210",
    "phone": "12345",
    "email": "support@intranetproject.net"
  },
  "paypal": {
    "client": "xxx",
    "secret": "xxx"
  },
  "virtualizor": {
    "ip": "localhost",
    "key": "key",
    "pass": "pass"
  }
}
